name: Hello Workflow
on: 
  push:
    branches:
        - main
jobs:
  test:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          node-version: [16,18,20]
      steps:
          - uses: action/setup-node@v4
            with:
              node-version: ${{ matrix.node-version }}
               - run:node -v
           
